.cart-background {
  width: 100%;
  background-color: #b2ccd6;
  padding: 40px;
}

.title {
  width: 100%;
  max-width: 600px;
  color: #21436c;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.cart-table {
  width: 100%;
  max-width: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  height: 250px;
  font-size: 11px;
  border-radius: 15px;
}

td {
  box-sizing: border-box;
  border-bottom: 1px solid #b2ccd6;
}

/* 행 높이 */

thead tr {
  height: 30px;
  color: #8ea0b3;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
}

tbody tr:first-child,
tbody tr:nth-child(2) {
  height: 80px;
  color: #a2b8bf;
  font-weight: 600;
  font-size: 15px;
}

tbody tr:last-child {
  height: 60px;
  color: #21436c;
  font-weight: 600;
  font-size: 18px;
}
/* ----------------------------------------------------- */

/* 열 너비 */
tr td:first-child {
  width: 120px;
  text-align: center;
}

tr td:nth-child(2) {
  width: 210px;
}

tr td:nth-child(3) {
  width: 60px;
  text-align: end;
}

tr td:nth-child(4) {
  width: 90px;
  text-align: end;
}

tr td:last-child {
  width: 120px;
  text-align: end;
  padding-right: 30px;
}

/* ----------------------------------------------------- */

img {
  width: 70px;
  height: 70px;
}

.product-brand {
  color: black;
  margin: 0px;
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 15px;
}

.product-name {
  margin: 0px;
}

.product-number,
.product-price {
  opacity: 0.7;
}

.product-total-price {
  color: #21436c;
}

.footer {
  width: 600px;
  margin: 40px auto;
}

.footer a {
  color: #21436c;
}

.footer button {
  float: right;
  padding: 20px;
  color: white;
  background-color: #21436c;
  border: 1px solid #21436c;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
}

.clear {
  clear: both;
}
