.navbar>li{
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
}

.navbar a:visited {
  color: black;
}

.container {
  width: 800px;
  height: 240px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.content-text {
  width: 70%;
  height: 240px;
  float: left;
}

.title {
  height: 25%;
  margin: 8px;
}

.title img {
  width: 60PX;
  height: 100%;
  display: block;
  float: left;
  margin-right: 3px;
  border-radius: 50%;
}

.profileName {
  width: 15%;
  height: 100%;
  float: left;
  padding: 5px;
  padding-top: 8px;
  box-sizing: border-box;
}

.profileName h5 {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 300;
}

.profileName h6 {
  margin: 0;
  font-size: 13px;
  opacity: 0.4;
}

.description {
  height: 65%;
  margin: 8px;
  margin-top: 15px;
  padding: 0px 8px;
  clear: both;
}

.description h3 {
 margin: 0px;
 margin-bottom: 20px;
 font-size: 18px;
}

.description p {
  margin: 0px;
  font-size: 15px;
  opacity: 0.4;
}

.content--photo {
  width: 30%;
  height: 240px;
  float: left;
}

.content--photo img {
  width: 100%;
}
