* {
  margin: 0;
}

div,
input,
h1,
textarea {
  box-sizing: border-box;
}

.form-background {
  background-color: #373737;
  padding: 100px;
}

.form-white {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;
  background-color: white;
  padding: 35px;
}

.title {
  margin-bottom: 15px;
}

.w-100 {
  width: 100%;
  position: relative;
  padding: 10px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.form-input {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-height {
  height: 150px;
}

.yellow-button {
  padding: 10px 40px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.clear {
  clear: both;
}
